.sp-thongbao {
  color: red;
  margin-left: 2px; 
  /* display: none; */
}
#SapXepGiam,#SapXepTang{
  cursor: pointer;
}
#SapXepTang{
  color: red;
}
#SapXepGiam{
  color: green;
}
#content{
	width: 100%;
	background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.myCardHeader, .myCardFooter{
	background-color: transparent;       
}
.btnDelete {
  color: red;
  cursor: pointer;
  font-size: 20px;
}

.btnUpdate {
  color: green;
  cursor: pointer;
  font-size: 20px;
}
button.swal2-confirm.btn.btn-success {
  margin-left: 1rem;
}
.showHide {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
}

input#password {
  padding-right: 40px;
}
td {
  font-size: 15px;
}